/* universal - sets the background color and removes margins/padding */

* {
    background-color:#363635; margin: 0; padding: 0;
}

/* html - sets the base font size */

html {
    font-size: 20px;
}

/* body - sets the fonts */

body {
    font-family: 'Jost', sans-serif;
}

/* ::selection - sets the color and background of selected text */

::selection {
    color: #363635;
    background:#B0FE76;
}

/* photocaption class - sets color and font size for photo captions */


.photocaption {
    color:#3DD6D0; font-size: 1.5rem;
}

/* largertext id - increases size for important text. think this should probably be a class, not an id */

#largertext {
    font-size: 2rem;
}

/*largertext id - increases the size of the first letter */

#largertext::first-letter {
    font-size: 3rem;
}

/* h1-h5 - sets the color, uppercase and font of ALL headings - this might not be efficient */

h1, h2, h3, h4, h5 {
    color:#B0FE76; text-transform: uppercase; font-family: 'Alata', sans-serif;
}

/* h1 - increases the font size of h1. Should probably be a relative font size */

h1 {
    font-size: 8rem;
}

/* a:link - sets the colour of unvisited links */

a:link {
    color:#E56399
}

/* a:visited - sets the colour of visited links */

a:visited {
    color:#DBD2E0
}

/* a:any-link - removes the underlining of any link (visited or unvisited) */

a:any-link {
    text-decoration: none;
}

/* - p, ul, ol - sets the font color of paragraphs, unordered lists and ordered lists - may not be efficient */

p, ul, ol {
    color:#DBD2E0;
}

/* footer - sets the text color for the footer */

footer {
    color: #3DD6D0;
}