/* universal - sets the background color and removes margins/padding */

* {
    background-color:#242325;
    margin: 0; padding: 0;
}

/* html - sets the base font size */

html {
    font-size: 16px;
}

/* body - sets the fonts */

body {
    font-family: 'Lato', sans-serif;
    color:#E2F89C;
}

/* ::selection - sets the color and background of selected text */

::selection {
    color: #242325;
    background:#E2F89C;
}

/* h1-h5 - sets the color, uppercase and font of ALL headings - this might not be efficient */

h1, h2, h3, h4, h5 {
    Font-Family: 'Oswald', Sans-Serif;
}

h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-top: 5%;
    color: #FFA3AF;
}

h3 {
    margin-bottom: 10%;
}

h2, h3, h4 {
    color:#69A2B0; Font-Family: 'Oswald', Sans-Serif;
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

.aboutmecontainer {
    margin: auto;
    width: 80%;
    margin-bottom: 20%;
}

.aboutme {
    text-align: center;
    font-weight: 300;
}

a:any-link {
    text-decoration: none;
    Font-Family: 'Oswald', Sans-Serif;
    color: antiquewhite;
}

/* - p, ul, ol - sets the font color of paragraphs, unordered lists and ordered lists - may not be efficient */


/* footer - sets the text color for the footer */

footer {
    color: #E2F89C;
    margin: auto;
    text-align: center;
    margin-bottom: 20%;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
}

.gopuckyerself {
    position: relative;
}

.kickyerballs {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.gopuckyerselfarcade {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-bottom: 20%;
}

.imagetext1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.imagetext2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.imagetext3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

#gopuckyerselflargertext {
    font-size: 8vw;
    text-transform: uppercase;
    Font-Family: 'Oswald', Sans-Serif;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    text-shadow: 3px 3px #020402;
    color: antiquewhite;
}

#kickyerballslargertext{
    font-size: 8vw;
    text-transform: uppercase;
    Font-Family: 'Oswald', Sans-Serif;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    text-shadow: 3px 3px #020402;
    color: antiquewhite;
}

#gopuckyerselfarcadelargertext {
    font-size: 6vw;
    text-transform: uppercase;
    Font-Family: 'Oswald', Sans-Serif;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    text-shadow: 3px 3px #020402;
    color: antiquewhite;
}

#gopuckyerselfsmallertext {
    font-size: 4vw;
    Font-Family: 'Oswald', Sans-Serif;
    text-align: center;
    background-color: transparent;
    text-shadow: 2px 2px #020402;
    color: antiquewhite;
}

#kickyerballssmallertext {
    font-size: 4vw;
    Font-Family: 'Oswald', Sans-Serif;
    text-align: center;
    background-color: transparent;
    text-shadow: 2px 2px #020402;
    color: antiquewhite;
}

#gopuckyerselfarcadesmallertext {
    font-size: 4vw;
    Font-Family: 'Oswald', Sans-Serif;
    text-align: center;
    background-color: transparent;
    text-shadow: 2px 2px #020402;
    color: antiquewhite;
}

.projectimage {
    width: 90%;
}

.musicprojects {
    text-align: center;
    margin-bottom: 20%;
    margin-top: 20%;
}

.bandlogo {
    width: 32%;
}

.gopuckyerself, .kickyerballs, .gopuckyerselfarcade {
    margin: 5%;
    text-align: center;
}

.links {
    text-align: center;
    margin: 20%;
    font-size: 2rem;
}

.links a:any-link{
    color: #FFA3AF;
    text-transform: uppercase;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 8rem;
        text-transform: uppercase;
        color: black;
    }
}