/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

:root {
    --background: #2F4858;
	--maintext: #EAFFDA;
	--windowbutton: #2F4858;
	--windowbox: #F6AE2D;
	--windowbackground: #2F4858;
	--boxshadow: #D90368;
}

body {
	width: 100vw;
	overflow-x: hidden;
	background-color: var(--background);
}

.holder {
	padding-top: 5vh;
	margin: auto;
	text-align: center;
	width: 90vw;
	display: grid;
}

h1 {
	color: var(--maintext);
	font-family: 'Tsukimi Rounded', sans-serif;
	font-size: 3vh;
	padding-top: 40px;
	margin-bottom: 5vh;
}

.back {
	position: absolute;
	top: 40px;
	padding-top: 5vh;
	left: 40px;
}

.back img {
	height: 30px;
}

.option {
    width: 90%;
    height: 100px;
    background-color: var(--windowbox);
    border-radius: 50px;
    margin: auto;
    margin-top: 40px;
    transition: height 1.5s ease-in-out;
    overflow-y: hidden;
}

.option:hover {
    height: 650px;
    transition: height 1.5s ease-in-out;
}

.option img {
    width: 100%;
}

.wolfoption {
    width: 90%;
    height: 100px;
    background-color: var(--windowbox);
    border-radius: 50px;
    margin: auto;
    margin-top: 40px;
    transition: height 1s ease-in-out;
    overflow-y: hidden;
	margin-bottom: 3vh;
}

.wolfoption:hover {
    height: 250px;
    transition: height 1s ease-in-out;
}

.wolfoption img {
    width: 100%;
	padding-bottom: 3vh;
}

iframe {
	margin-bottom: 5vh;
}
@media screen and (min-width: 992px) {
	.option {
		width: 30%;
		height: 150px;
	}
	
	.option:hover {
		height: 750px;
	}

	.wolfoption {
		width: 30%;
		height: 150px;
		transition: height 1s ease-in-out;
	}
	
	.wolfoption:hover {
		height: 350px;
		transition: height 1s ease-in-out;
	}
}